<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <register serviceType="Sitecore.Abstractions.BaseJobManager, Sitecore.Kernel" implementationType="Website.JobManager.CustomJobManager, Website" />
        </services>
    </sitecore>
</configuration>